<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>DFC proto V2</title>
  <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
  <% } %>
</head>
<body>
  <navigation-wc>
    <style>
      <%=require('./style/containers.css') %>
      <%=require('./style/shared.css') %>
    </style>
  </navigation-wc>
  <router-wc default="home-wc"></router-wc>
</body>
<style>
<%=require('./style/colors.css') %>
</style>
</html>
